body{
	@media (max-width: @screen-xs){
	  background-image: url('../images/bg-small.jpg') ;
	  background-size: 100% auto;
	  background-repeat: no-repeat;
	  background-color: #4f1001;
	}
	@media (min-width: @screen-xs){
	  background-image: url('../images/bg-ipad.jpg') ;
	  background-size: 100% 100%;
	  background-repeat: no-repeat;
	  background-color: #000000;
	}
	@media (min-width: @screen-sm){
	  background-image: url('../images/bg-ipad.jpg') ;
	  background-size: 100% 100%;
	  background-repeat: no-repeat;
	  background-color: #000000;
	}
	@media (min-width: @screen-md){
	  background-image: url('../images/pool-background.jpg') ;
	  background-size: 100% 100%;
	  background-repeat: no-repeat;
	  background-color: #000000;
	}
	@media (min-width: @screen-lg){
	  background-image: url('../images/pool-background.jpg') ;
	  background-size: 100% 100%;
	  background-repeat: no-repeat;
	  background-color: #000000;
	  }
}